<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="layui-side layui-bg-black" th:fragment="onselectLayout (parent, child)">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item" th:classappend="(${parent} == 'overview') ? 'layui-this' : ''">
                <a th:href="@{/page/overview}">概览</a>
            </li>
            <li class="layui-nav-item" th:classappend="(${child} == 'userList') ? 'layui-this' : ''">
                <a th:href="@{/page/user/list}">用户列表</a>
            </li>
            <li class="layui-nav-item" th:classappend="(${child} == 'productList') ? 'layui-this' : ''">
                <a th:href="@{/page/product/list}">产品列表</a>
            </li>
            <li class="layui-nav-item" th:classappend="(${child} == 'deviceList') ? 'layui-this' : ''">
                <a th:href="@{/page/device/list}">设备列表</a>
            </li>
            <li class="layui-nav-item" th:classappend="(${parent} == 'file') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">文件</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'fileList') ? 'layui-this' : ''">
                        <a th:href="@{/page/file/list}">用户文件</a>
                    </dd>
                    <dd th:class="(${child} == 'commonJarList') ? 'layui-this' : ''">
                        <a th:href="@{/page/commonJar/list}">公共Jar</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="(${parent} == 'taskList') ? 'layui-this' : ''">
                <a th:href="@{/page/task/list}">任务列表</a>
            </li>
        </ul>
    </div>
</div>
