<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">流处理平台</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('', '')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">

</div>
<div layout:fragment="content">
    
</div>

<script layout:fragment="script">
    layui.use(['element'], function () {
        var element = layui.element;
    });
</script>
</html>
