<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">流处理平台</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('overview', '')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">

</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div panel-success">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">产品数量&nbsp;&nbsp;</span>
                <span class="total-num" id="productNum">21</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div panel-info">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">设备数量&nbsp;&nbsp;</span>
                <span class="total-num" id="deviceNum">30</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div panel-primary">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">任务数量&nbsp;&nbsp;</span>
                <span class="total-num" id="taskNum">37</span>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div panel-warning">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">文件数量&nbsp;&nbsp;</span>
                <span class="total-num" id="fileNum">10</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div layui-bg-blue">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">运行设备数量&nbsp;&nbsp;</span>
                <span class="total-num" id="runningDeviceNum">10</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg4">
            <div class="overview-num-div layui-bg-red">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">运行任务数量&nbsp;&nbsp;</span>
                <span class="total-num" id="runningTaskNum">10</span>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    近24小时各任务发送量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendDayInfo" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    近7天各任务发送量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendWeekInfo" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    各任务发送总量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendTotalInfo" style="width: 100%; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="otherScriptAfter" th:remove="tag">
    <script th:src="@{/plugins/echarts.js}"></script>
</div>
<script layout:fragment="script">
    layui.use(['element'], function () {
        var element = layui.element;

        initTotalInfo();

        // var dayInfoChart = echarts.init($("#taskSendDayInfo").get(0));

        function initTotalInfo() {
            var totalInfoChart = echarts.init($("#taskSendTotalInfo").get(0));
            var totalInfoOption = {
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: [5, 20, 36, 10, 10, 20]
                }]
            };
            totalInfoChart.setOption(totalInfoOption);
        }
    });
</script>
</html>
