<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">流处理平台</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('overview', '')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <a><cite>概览</cite></a>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3 layui-col-lg3">
            <div class="overview-num-div panel-success">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">产品数量&nbsp;&nbsp;</span>
                <span class="total-num" id="productNum">21</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg3">
            <div class="overview-num-div panel-info">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">设备数量&nbsp;&nbsp;</span>
                <span class="total-num" id="deviceNum">30</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg3">
            <div class="overview-num-div panel-primary">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">任务数量&nbsp;&nbsp;</span>
                <span class="total-num" id="taskNum">37</span>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-lg3">
            <div class="overview-num-div panel-warning">
                <i class="fa fa-bar-chart pull-left"></i>
                <span class="total">文件数量&nbsp;&nbsp;</span>
                <span class="total-num" id="fileNum">10</span>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    近24小时各任务发送量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendDayInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    近7天各任务发送量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendWeekInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    各任务发送总量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendTotalInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="otherScriptAfter" th:remove="tag">
    <script th:src="@{/plugins/echarts.js}"></script>
    <script th:src="@{/plugins/moment.min.js}"></script>
</div>
<script layout:fragment="script">
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;

        getNums();

        function getNums() {
            $.ajax({
                url: ip + "/api/overview/nums",
                type: "get",
                contentType: "application/json",
                dataType: "json",
                success: function (res) {
                    // console.log(res);
                    if (res.code === 0) {
                        let data = res.data;

                        for (let numKey in data) {
                            $("#" + numKey).text(data[numKey]);
                        }
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 2000});
                    }
                }
            });
        }

        var infoOf24HourChart = echarts.init($("#taskSendDayInfo").get(0));
        var infoOf7DayChart = echarts.init($("#taskSendWeekInfo").get(0));
        var infoOfTotalChart = echarts.init($("#taskSendTotalInfo").get(0));

        init24HourInfo();
        init7DayInfo();
        initTotalInfo();

        function init24HourInfo() {

            infoOf24HourChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '10%',
                    bottom: 70
                },
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: [],

                    selected: []
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        axis: 'x'
                    }
                },
                dataZoom: [{
                    type: 'inside'
                }, {
                    type: 'slider'
                }],
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    minInterval: 1,
                    boundaryGap: [0, '20%'],
                    type: 'value',
                    axisPointer: {
                        label: {
                            formatter: getInteger
                        }
                    }
                },
                series: []
            });

            new Promise(function (resolve, reject) {
                let now  = new Date();
                now.setMilliseconds(0);
                if (now.getSeconds() >= 30) {
                    now.setSeconds(30);
                } else {
                    now.setSeconds(0);
                }
                let oneHourAgo = new Date(now.getTime() - 1 * 60 * 60 * 1000);

                $.ajax({
                    url: ip + "/api/overview/1hour?startTime=" + oneHourAgo.format(commonDateFormat) + "&endTime=" + now.format(commonDateFormat),
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = {};
                            data["data"] = res.data;
                            data["startTime"] = oneHourAgo;
                            data["endTime"] = now;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {

                let startTime = data.startTime;
                let endTime = data.endTime;

                let allTime = [];
                for (let time = startTime; time <= endTime;) {
                    allTime.push(time.format(commonDateFormat));

                    time = new Date(time.getTime() + 30 * 1000);
                }

                data = data.data;
                let names = [];
                let namesSelected = [];
                let seriesData = [];

                let index = 0;
                for (let key in data) {
                    let map = data[key];

                    let name = map["name"];
                    let counts = [];

                    let timeToCountMap = map.timeToCountMap;

                    for (let i = 1; i < allTime.length; i++) {
                        let dateTime = allTime[i];
                        if (timeToCountMap[dateTime]) {
                            counts.push(timeToCountMap[dateTime]);
                        } else {
                            counts.push(0);
                        }
                        // counts.push(getRandomInt(200));
                    }

                    names.push(name);
                    namesSelected.push(index < 5);
                    seriesData.push({
                        name: name,
                        type: 'line',
                        data: counts
                    });
                }

                infoOf24HourChart.setOption({
                    legend: {
                        data: names,
                        selected: namesSelected
                    },
                    xAxis: {
                        data: allTime
                    },
                    series: seriesData
                });
            });
        }

        function init7DayInfo() {

            infoOf7DayChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '7%',
                    bottom: 40
                },
                legend: {
                    type: 'scroll',
                    orient: 'vertical',
                    right: 10,
                    top: 20,
                    bottom: 20,
                    data: [],

                    selected: []
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        axis: 'x'
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    minInterval: 1,
                    boundaryGap: [0, '20%'],
                    type: 'value',
                    axisPointer: {
                        label: {
                            formatter: getInteger
                        }
                    }
                },
                series: []
            });

            infoOf7DayChart.showLoading();
            new Promise(function (resolve, reject) {
                $.ajax({
                    url: ip + "/api/overview/7day",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = res.data;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {

                let allDay = get7day();

                let names = [];
                let namesSelected = [];
                let seriesData = [];

                let index = 0;
                for (let key in data) {
                    let map = data[key];

                    let name = map["name"];
                    let counts = [];

                    let timeToCountMap = map.timeToCountMap;

                    for (let i = 0; i < allDay.length; i++) {
                        let dateTime = allDay[i];
                        if (timeToCountMap[dateTime]) {
                            counts.push(timeToCountMap[dateTime]);
                        } else {
                            counts.push(0);
                        }
                        // counts.push(getRandomInt(600));
                    }

                    names.push(name);
                    namesSelected.push(index < 5);
                    seriesData.push({
                        name: name,
                        type: 'line',
                        data: counts
                    });
                }

                infoOf7DayChart.hideLoading();
                infoOf7DayChart.setOption({
                    legend: {
                        data: names,
                        selected: namesSelected
                    },
                    xAxis: {
                        data: allDay
                    },
                    series: seriesData
                });
            });
        }

        function initTotalInfo() {

            infoOfTotalChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '4%',
                    bottom: 40
                },
                tooltip: {},
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: []
            });

            new Promise(function (resolve, reject) {
                $.ajax({
                    url: ip + "/api/overview/total",
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = res.data;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {

                let xData = [];
                let yData = [];

                for (let key in data) {
                    let map = data[key];

                    xData.push(map["name"]);
                    // yData.push(getRandomInt(1000));
                    yData.push(map["count"]);
                }

                infoOfTotalChart.setOption({
                    xAxis: {
                        data: xData
                    },
                    series: [{
                        name: '发送量',
                        type: 'bar',
                        data: yData
                    }]
                });
            });
        }

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function getInteger(params) {
            return Math.floor(params.value);
        }

        function get24Hour() {
            let hours = [];
            for(let i = 24; i >= 0; i--) {
                hours.push(moment().subtract(i, 'hours').format("YYYY-MM-DD HH:00:00"));
            }
            // console.log(hours);
            return hours;
        }

        function get7day() {
            let dates = [];
            for(let i = 6; i >= 0; i--) {
                dates.push(moment().subtract(i, 'days').format("YYYY-MM-DD"));
            }
            console.log(dates);
            return dates;
        }
    });
</script>
</html>
