<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqlist.admin.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.sqlist.admin.domain.Product">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pid" property="pid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="product_key" property="productKey" jdbcType="VARCHAR"/>
        <result column="product_secret" property="productSecret" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="topic" property="topic" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        pid, name, product_key, product_secret, create_time, status, topic, uid
    </sql>

    <delete id="deleteMultiple" >
        DELETE FROM product
        WHERE pid IN
        <foreach item="item" collection="pidList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>

    <select id="selectWithUser" resultType="java.util.Map">
        SELECT p.*, u.username username
        FROM product p, user u
        WHERE p.uid = u.uid
        <if test="uid != null" >
            AND p.uid = #{uid}
        </if>
    </select>
</mapper>