<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqlist.admin.mapper.TaskUnitMapper">
    <resultMap id="BaseResultMap" type="com.sqlist.admin.domain.TaskUnit">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="tuid" property="tuid" jdbcType="VARCHAR"/>
        <result column="left_dis" property="leftDis" jdbcType="INTEGER"/>
        <result column="top_dis" property="topDis" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="tid" property="tid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        tuid, left_dis, top_dis, create_time, tid
    </sql>

    <delete id="deleteMultiple" parameterType="list">
        DELETE FROM task_unit_${type}
        WHERE tid IN
        <foreach item="item" collection="tidList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
</mapper>