<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">统计</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('task', 'taskList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">任务</a>
        <a><cite>统计</cite></a>
    </span>
</div>

</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    任务信息
                </div>
                <div class="tonghe-card-body">
                    <form class="layui-form  layui-form-pane" lay-filter="detailForm">
                        <div class="layui-form-item">
                            <label class="layui-form-label">任务名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">创建时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="createTime" class="layui-input" readonly>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">更新时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="updateTime" class="layui-input" readonly>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <div class="layui-inline" style="width: 300px;">
                        <input type="text" id="timeRange" name="timeRange" placeholder="时间范围" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <div id="searchBtn" class="layui-btn layui-btn-primary" lay-submit lay-filter="formDemo">查询</div>
                    </div>
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendHourInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    近7天各任务发送量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendWeekInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <i class="fa fa-bar-chart pull-left"></i>
                    各任务发送总量
                </div>
                <div class="tonghe-card-body">
                    <div id="taskSendTotalInfo" style="width: 100%; height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="otherScriptAfter" th:remove="tag">
    <script th:src="@{/plugins/echarts.js}"></script>
    <script th:src="@{/plugins/moment.min.js}"></script>
</div>
<script layout:fragment="script">
    layui.use(['element', 'layer', 'laydate', 'form'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var form = layui.form;

        var tid = /.*\/(\d+)\/.*/g.exec(window.location.pathname)[1];

        //时间范围选择
        laydate.render({
            elem: '#timeRange',
            type: 'datetime',
            range: '-'
        });

        $("#searchBtn").click(function () {
            let $timeRange = $("#timeRange");
            if ($timeRange.val()) {
                initHourInfo($timeRange.val());
            }
        });

        function detail() {
            $.ajax({
                url: ip + "/api/task/" + tid,
                type: "get",
                contentType: "application/json",
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    if (res.code === 0) {
                        let data = res.data;
                        data.createTime = new Date(data.createTime).format(commonDateFormat);
                        data.updateTime = new Date(data.updateTime).format(commonDateFormat);

                        form.val("detailForm", data);
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 2000});
                    }
                }
            });
        }

        detail();

        var infoOfHourChart = echarts.init($("#taskSendHourInfo").get(0));
        var infoOf7DayChart = echarts.init($("#taskSendWeekInfo").get(0));
        var infoOfTotalChart = echarts.init($("#taskSendTotalInfo").get(0));

        initHourInfo();
        init7DayInfo();
        initTotalInfo();

        function initHourInfo(timeRange) {
            let startTime;
            let endTime;

            if (timeRange) {
                let times = timeRange.split(" - ");
                startTime = new Date(times[0]);
                endTime = new Date(times[1]);

                if (endTime - startTime > 48 * 60 * 60 * 1000) {
                    layer.msg("选定的时间范围不能超过48小时", {icon: 2, time: 2000});
                    return;
                }
            } else {
                endTime = new Date();
                startTime = new Date(endTime.getTime() - 1 * 60 * 60 * 1000);
            }

            infoOfHourChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '4%',
                    bottom: 70
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        axis: 'x'
                    }
                },
                dataZoom: [{
                    type: 'inside'
                }, {
                    type: 'slider'
                }],
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    minInterval: 1,
                    boundaryGap: [0, '20%'],
                    type: 'value',
                    axisPointer: {
                        label: {
                            formatter: getInteger
                        }
                    }
                },
                series: []
            });

            new Promise(function (resolve, reject) {

                infoOfHourChart.showLoading();
                $.ajax({
                    url: ip + "/api/taskSendSum/1hour?startTime=" + startTime.format(commonDateFormat) + "&endTime=" + endTime.format(commonDateFormat) + "&tid=" + tid,
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = {};
                            data["data"] = res.data;
                            data["startTime"] = startTime;
                            data["endTime"] = endTime;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {
                let allTime = getAllTime(data.startTime, data.endTime);

                data = data.data;
                let names = [];
                let namesSelected = [];
                let seriesData = [];

                let index = 0;
                for (let key in data) {
                    let map = data[key];

                    let name = map["name"];
                    let counts = [];

                    let timeToCountMap = map.timeToCountMap;

                    for (let i = 1; i < allTime.length; i++) {
                        let dateTime = allTime[i];
                        if (timeToCountMap[dateTime]) {
                            counts.push(timeToCountMap[dateTime]);
                        } else {
                            counts.push(0);
                        }
                        // counts.push(getRandomInt(200));
                    }

                    names.push(name);
                    namesSelected.push(index < 5);
                    seriesData.push({
                        name: name,
                        type: 'line',
                        data: counts
                    });
                }

                infoOfHourChart.hideLoading();
                infoOfHourChart.setOption({
                    xAxis: {
                        data: allTime
                    },
                    series: seriesData
                });
            });
        }

        function init7DayInfo() {

            infoOf7DayChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '4%',
                    bottom: 40
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        axis: 'x'
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: []
                },
                yAxis: {
                    minInterval: 1,
                    boundaryGap: [0, '20%'],
                    type: 'value',
                    axisPointer: {
                        label: {
                            formatter: getInteger
                        }
                    }
                },
                series: []
            });

            infoOf7DayChart.showLoading();
            new Promise(function (resolve, reject) {
                $.ajax({
                    url: ip + "/api/taskSendSum/7day?tid=" + tid,
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = res.data;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {

                let allDay = get7day();

                let names = [];
                let namesSelected = [];
                let seriesData = [];

                let index = 0;
                for (let key in data) {
                    let map = data[key];

                    let name = map["name"];
                    let counts = [];

                    let timeToCountMap = map.timeToCountMap;

                    for (let i = 0; i < allDay.length; i++) {
                        let dateTime = allDay[i];
                        if (timeToCountMap[dateTime]) {
                            counts.push(timeToCountMap[dateTime]);
                        } else {
                            counts.push(0);
                        }
                    }

                    names.push(name);
                    namesSelected.push(index < 5);
                    seriesData.push({
                        name: name,
                        type: 'line',
                        data: counts
                    });
                }

                infoOf7DayChart.hideLoading();
                infoOf7DayChart.setOption({
                    xAxis: {
                        data: allDay
                    },
                    series: seriesData
                });
            });
        }

        function initTotalInfo() {

            infoOfTotalChart.setOption({
                grid: {
                    left: '4%',
                    top: '2%',
                    right: '4%',
                    bottom: 40
                },
                tooltip: {},
                xAxis: {
                    data: []
                },
                yAxis: {},
                series: []
            });

            new Promise(function (resolve, reject) {
                $.ajax({
                    url: ip + "/api/taskSendSum/total?tid=" + tid,
                    type: "get",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            let data = res.data;
                            console.log(data);
                            resolve(data);
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            reject();
                        }
                    }
                });
            }).then(function (data) {

                let xData = [];
                let yData = [];

                for (let key in data) {
                    let map = data[key];

                    xData.push(map["name"]);
                    yData.push(map["count"]);
                }

                infoOfTotalChart.setOption({
                    xAxis: {
                        data: xData
                    },
                    series: [{
                        name: '发送量',
                        type: 'bar',
                        data: yData
                    }]
                });
            });
        }

        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        function getInteger(params) {
            return Math.floor(params.value);
        }

        function getAllTime(startTime, endTime) {
            startTime.setMilliseconds(0);
            if (startTime.getSeconds() >= 30) {
                startTime.setSeconds(30);
            } else {
                startTime.setSeconds(0);
            }

            endTime.setMilliseconds(0);
            if (endTime.getSeconds() >= 30) {
                endTime.setSeconds(30);
            } else {
                endTime.setSeconds(0);
            }

            let allTime = [];
            for (let time = startTime; time <= endTime;) {
                allTime.push(time.format(commonDateFormat));

                time = new Date(time.getTime() + 30 * 1000);
            }

            return allTime;
        }

        function get7day() {
            let dates = [];
            for(let i = 6; i >= 0; i--) {
                dates.push(moment().subtract(i, 'days').format("YYYY-MM-DD"));
            }
            console.log(dates);
            return dates;
        }
    });
</script>
</html>
