<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">设备列表</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('device', 'deviceList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">设备</a>
        <a><cite>列表</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <form class="layui-form  layui-form-pane" lay-filter="detailForm">
                        <div class="layui-form-item" style="margin-bottom: 0px">
                            <div class="layui-inline">
                                <input type="text" name="name" placeholder="名称" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <input type="text" name="deviceKey" placeholder="设备key" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <select name="status" lay-filter="deviceState">
                                    <option value="">设备状态</option>
                                    <option value="UNACTIVE">未激活</option>
                                    <option value="ONLINE">在线</option>
                                    <option value="OFFLINE">离线</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <div id="searchBtn" class="layui-btn layui-btn-primary" lay-submit lay-filter="searchBtn">搜索</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tonghe-card-body">
                    <table id="devicesTable"></table>
                </div>
            </div>
        </div>
    </div>
    <template id="topToolbar">
        <div class="layui-btn" id="deviceAdd">添加设备</div>
        <div class="layui-btn layui-btn-danger" id="deviceDel">删除设备</div>
    </template>
    <template id="toolbar">
        <a th:href="@{/page/device/{{ d.did }}/detail}" class="layui-btn layui-btn-primary layui-btn-xs">查看</a>
        <!--<a th:href="@{/page/device/{{ d.did }}}" class="layui-btn layui-btn-xs">编辑</a>-->
    </template>
    <template id="productToolbar">
        <a th:href="@{/page/product/{{ d.pid }}/detail}">{{ d.productName }}</a>
    </template>
    <template id="deviceAddLayer">
        <form id="deviceAddForm" class="layui-form  layui-form-pane" enctype="multipart/form-data" method="post" style="text-align: center;">
            <div class="layui-form-item">
                <label class="layui-form-label">产品</label>
                <div class="layui-input-block">
                    <select id="productSelect" name="pid" lay-verify="required" lay-filter="productSelect">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">设备key</label>
                <div class="layui-input-block">
                    <input type="text" id="deviceKey" name="deviceKey" placeholder="（可选）" class="layui-input">
                </div>
            </div>
        </form>
    </template>
</div>

<script layout:fragment="script">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        table.render({
            elem: "#devicesTable",
            even: true,
            toolbar: '#topToolbar',
            defaultToolbar: ['filter'],
            limit: 10, //每页默认显示的数量
            page: true,
            url: ip + "/api/device",
            parseData: function(res) { //res 即为原始返回的数据
                console.log(res);
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            },
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'name', title: "名称", width: 150},
                    {field: 'deviceKey', title: "deviceKey", width: 300},
                    {field: 'status', title: "状态", width: 80},
                    {field: 'createTime', title: "创建时间", templet: function (d) {
                            return new Date(d.createTime).format(commonDateFormat);
                        }},
                    {field: 'activeTime', title: "激活时间", templet: function (d) {
                            if (d.activeTime) {
                                return new Date(d.activeTime).format(commonDateFormat);
                            }
                            return "";
                        }},
                    {field: 'lastTime', title: "最后一次上线时间", templet: function (d) {
                            if (d.lastTime) {
                                return new Date(d.lastTime).format(commonDateFormat);
                            }
                            return "";
                        }},
                    {field: 'pid', title: "所属产品", toolbar: '#productToolbar'},
                    {fixed: 'right', align:'center', toolbar: '#toolbar'}
                ]
            ]
        });

        $("#deviceAdd").click(function () {
            layer.open({
                title: "添加设备",
                content: $("#deviceAddLayer").html(),
                type: 0,
                area: ['1000px', '500px'],
                offset: '100px',
                yes: function (index, layero) {
                    console.log($("#deviceAddForm").serializeObject());
                    let index1 = layer.load(2);
                    $.ajax({
                        url: ip + "/api/device",
                        type: "put",
                        contentType: "application/json",
                        data: JSON.stringify($("#deviceAddForm").serializeObject()),
                        dataType: "json",
                        success: function (res) {
                            layer.close(index1);
                            console.log(res);
                            if (res.code === 0) {
                                layer.msg('添加成功！', {icon: 1, time: 2000}, function () {
                                    layer.close(index);
                                    table.reload('devicesTable', {});
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                },
                success: function (index, layero) {
                    let index1 = layer.load(2);
                    $.ajax({
                        url: ip + "/api/product?page=1&limit=-1",
                        type: "get",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            layer.close(index1);
                            if (res.code === 0) {
                                let list = res.data.list;
                                let $productSelect = $("#productSelect");
                                list.forEach(function (product) {
                                    $productSelect.append("<option value=" + product.pid + ">" + product.name + "</option>");
                                });
                                form.render('select');
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            });
        });

        $("#deviceDel").click(function () {
            let checkStatus = table.checkStatus('devicesTable');

            if (checkStatus.data.length === 0) {
                layer.msg('请勾选', {icon: 2, time: 2000});
                return;
            }

            console.log(checkStatus);
            let list = [];
            checkStatus.data.forEach(function (currentValue, index, arr) {
                list.push(currentValue.did);
            });
            layer.open({
                content: '确定要删除吗?',
                yes: function (index, layero) {
                    $.ajax({
                        url: ip + "/api/device",
                        type: "delete",
                        contentType: "application/json",
                        data: JSON.stringify(list),
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            layer.close(index);
                            if (res.code === 0) {

                                table.reload('devicesTable', {});
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            });
        });

        form.on('submit(searchBtn)', function(data){
            console.log(data.field);

            let formJson = data.field;
            for (let key in formJson) {
                if (!formJson[key]) {
                    delete formJson[key];
                }
            }

            //执行重载
            table.reload('devicesTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: data.field
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</html>
