<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<div layout:fragment="otherHead">
    <link rel="stylesheet" th:href="@{/css/task.css}"/>
</div>

<title layout:fragment="title">创建任务</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('task', 'taskList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">任务</a>
        <a><cite>编辑</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <div class="layui-btn" id="finish">开发完成</div>
                    <span id="saveTime" target="_blank" href="javascript:;" style="padding-left: 10px; height: 36px; line-height: 36px; color: #5FB878;"></span>
                </div>
                <div class="tonghe-card-body">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md1 layui-col-lg1">
                            <div id="task-button">
                                <div class="node radius" id="input" type="Input">输入</div>
                                <div class="node" id="handle" type="Handle">处理</div>
                                <div class="node radius" id="output" type="Output">输出</div>
                            </div>
                        </div>
                        <div class="layui-col-md8 layui-col-lg8">
                            <div id="task-main">

                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-lg3">
                            <div id="task-detail" onselect="">
                                <div class="center">
                                    请点击任务单元
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <template id="noClickContent">
        <div class="center">
            请点击任务单元
        </div>
    </template>
    <template id="inputContent">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">产品</label>
                <div class="layui-input-block">
                    <select id="productSelect" name="pid" lay-verify="required" lay-filter="productSelect">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <!--<div class="layui-form-item layui-form-text">-->
                <!--<label class="layui-form-label">Topic</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="text" id="productTopic" name="topic" class="layui-input" readonly>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <button class="layui-btn" id="save" lay-submit="" lay-filter="save">保存</button>
            </div>
        </form>
    </template>
    <template id="handleContent">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <select id="typeSelect" name="type" lay-verify="required" lay-filter="typeSelect">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">处理文件</label>
                <div class="layui-input-block">
                    <select id="fileSelect" name="fid" lay-verify="required" lay-filter="fileSelect">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <!--sql内容-->
            <!--<div class="layui-form-item layui-form-text">-->
                <!--<label class="layui-form-label">处理文件</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<select id="fileSelect" name="fid" lay-verify="required" lay-filter="fileSelect">-->
                        <!--<option value=""></option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <button class="layui-btn" id="save" lay-submit="" lay-filter="save">保存</button>
            </div>
        </form>
    </template>
    <template id="outputContent">
        <form class="layui-form layui-form-pane" lay-filter="outputForm">
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <select id="typeSelect" name="type" lay-verify="required" lay-filter="typeSelect">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">ip</label>
                <div class="layui-input-block">
                    <input type="text" id="ip" name="ip" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">port</label>
                <div class="layui-input-block">
                    <input type="text" id="port" name="port" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">url</label>
                <div class="layui-input-block">
                    <input type="text" id="url" name="url" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn" id="save" lay-submit="" lay-filter="save">保存</button>
            </div>
        </form>
    </template>
</div>

<div layout:fragment="otherScriptPre">
    <script th:src="@{/plugins/jquery-ui.min.js}"></script>
    <script th:src="@{/plugins/jsplumb.min.js}"></script>
</div>
<div layout:fragment="otherScriptAfter">

</div>
<script layout:fragment="script">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        var tid = /.*\/(\d+)\/.*/g.exec(window.location.pathname)[1];

        jsPlumb.ready(function () {
            var instance = jsPlumb.getInstance({
                // Connector: ["Flowchart", {curviness: 50}],//连线类型，有直线，折线等，我这只用直线
                // DragOptions: {cursor: "pointer", zIndex: 2000},//拖动的时候
                // PaintStyle: {strokeStyle: '#E8C870', lineWidth: 2},
                // EndpointStyle: {radius: 5, fillStyle: color},
                // HoverPaintStyle: {strokeStyle: "#7073EB"},
                // EndpointHoverStyle: {fillStyle: "#7073EB"},
                // ConnectionOverlays: [
                //     ["Label", {label: "关联", cssClass: "csslabel"}]//这个是鼠标拉出来的线的属性
                // ],
                Container: "task-main"//容器位置
            });

            init();

            /**
             * 获取 taskUnit
             */
            function init() {
                let index = layer.load(2);
                new Promise(function (resolve, reject) {
                    $.ajax({
                        url: ip + "/api/task/" + tid,
                        type: "get",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            console.log(res);
                            if (res.code === 0) {
                                let data = res.data;
                                autoSave(data.updateTime);
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });

                    $.ajax({
                        url: ip + "/api/taskUnit/" + tid,
                        type: "get",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            console.log(res);
                            if (res.code === 0) {
                                let data = res.data;

                                for (let key in data) {
                                    console.log(key);
                                    let list = data[key];
                                    for (let i = 0; i < list.length; i++) {
                                        let taskUnit = list[i];
                                        addTaskUnitDiv(key, taskUnit.tuid, taskUnit.leftDis, taskUnit.topDis);
                                    }
                                }

                                resolve();
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                                reject();
                            }
                        }
                    })
                }).then(function () {   // 获取连接
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            url: ip + "/api/taskUnitConnect",
                            type: "get",
                            contentType: "application/json",
                            data: "tid=" + tid,
                            dataType: "json",
                            success: function (res) {
                                console.log(res);
                                layer.close(index);
                                if (res.code === 0) {
                                    let list = res.data;

                                    for (let i = 0; i < list.length; i++) {
                                        let connect = list[i];
                                        instance.connect({
                                            uuids: [connect.sourceTuid + '-from', connect.targetTuid + '-to']
                                        })
                                    }

                                    resolve();
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 2000});
                                }
                            }
                        });
                    })
                })
            }

            /**
             * 连成 连接
             */
            instance.bind("connection", jsPlumbConnect);

            /**
             * 删除连接
             */
            instance.bind("connectionDetached", function (info) {
                console.log("connectionDetached");
                console.log(info);

                $.ajax({
                    url: ip + "/api/taskUnitConnect",
                    type: "delete",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "sourceTuid": info.sourceId,
                        "targetTuid": info.targetId,
                        "tid": tid
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            autoSave();
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            });

            /**
             * 已存在的连接改变时（会触发 connect 事件）
             */
            instance.bind("connectionMoved", function (info, originalEvent) {
                // instance.unbind("connection");

                console.log("connectionMoved");
                console.log(info);

                if (info.newSourceId === info.originalSourceId && info.newTargetId === info.originalTargetId) {
                    return;
                }

                $.ajax({
                    url: ip + "/api/taskUnitConnect",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "sourceTuid": info.newSourceId,
                        "targetTuid": info.newTargetId,
                        "oldSourceTuid": info.originalSourceId,
                        "oldTargetTuid": info.originalTargetId,
                        "tid": tid
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            autoSave();
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });

                // instance.bind("connection", jsPlumbConnect);
            });

            function jsPlumbConnect(info, originalEvent) {
                // 编程方式连接不请求，要鼠标方式连接才请求
                if (originalEvent !== undefined) {
                    console.log("connect!!!!!");
                    console.log(info);

                    let index = layer.load(2);
                    $.ajax({
                        url: ip + "/api/taskUnitConnect",
                        type: "put",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "sourceTuid": info.sourceId,
                            "targetTuid": info.targetId,
                            "tid": tid
                        }),
                        dataType: "json",
                        success: function (res) {
                            console.log(res);
                            layer.close(index);
                            if (res.code === 0) {
                                autoSave();
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            }

            // ----------------- 拖拽部分 -----------------
            $("#task-button").children().draggable({
                // 表示复制
                helper: "clone",
                // droppable 方法里面也设置这个标识来判断拖放到的地方
                scope: "main"
            });

            $("#task-main").droppable({
                scope: "main",
                drop: function (event, ui) {
                    console.log(ui);
                    // console.log(this);
                    let left = parseInt(ui.offset.left - $(this).offset().left);
                    let top = parseInt(ui.offset.top - $(this).offset().top);
                    let type = ui.draggable[0].id;
                    let resData = addTaskUnit(type, left, top);
                    let id = resData.tuid;
                    addTaskUnitDiv(type, id, left, top);
                }
            });

            function addTaskUnitDiv(type, id, left, top) {
                let $taskMain = $("#task-main");

                if (type === "input" && $("#task-main .node[type='input']").length === 1) {
                    layer.msg("输入单元最多只能添加一个", {icon: 2, time: 2000});
                    return;
                }

                $taskMain.append($("#" + type).clone().attr("id", id));
                let $id = $("#" + id);

                $id.css("left", left).css("top", top);
                instance.draggable(id, {
                    containment: true
                });
                $id.draggable({
                    containment: "#task-main",
                    stop: function (event, ui) {
                        console.log(ui);
                        let $helper = $(ui.helper);
                        updateTaskUnit($helper.attr("type"), $helper.attr("id"), ui.position);
                    }
                });
                switch (type) {
                    case "input":
                        instance.addEndpoint(id, {
                            anchors: "BottomCenter",
                            isSource: true,
                            maxConnections: -1,
                            uuid: id + '-from'
                        }, hollowCircle);

                        break;
                    case "handle":
                        instance.addEndpoint(id, {
                            anchors: "TopCenter",
                            isTarget: true,
                            uuid: id + '-to'
                        }, hollowCircle);
                        instance.addEndpoint(id, {
                            anchors: "BottomCenter",
                            isSource: true,
                            maxConnections: -1,
                            uuid: id + '-from'
                        }, hollowCircle);

                        break;
                    case "output":
                        instance.addEndpoint(id, {
                            anchors: "TopCenter",
                            isTarget: true,
                            uuid: id + '-to'
                        }, hollowCircle);

                        break;
                }
            }

            /**
             * 此方法中的ajax需要为同步
             * @param type
             * @param left
             * @param top
             * @returns {string}
             */
            function addTaskUnit(type, left, top) {
                let index = layer.load(2);

                let resData = "";
                $.ajax({
                    url: ip + "/api/taskUnit",
                    type: "put",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "type": type,
                        "left": left,
                        "top": top,
                        "tid": tid
                    }),
                    dataType: "json",
                    async: false,
                    success: function (res) {
                        // console.log(res);
                        layer.close(index);
                        if (res.code === 0) {
                            resData = res.data;
                            autoSave();
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });

                return resData;
            }

            function updateTaskUnit(type, tuid, position) {
                let index = layer.load(2);

                position['tuid'] = tuid;
                position['type'] = type;
                position['tid'] = tid;
                $.ajax({
                    url: ip + "/api/taskUnit",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(position),
                    dataType: "json",
                    success: function (res) {
                        // console.log(res);
                        layer.close(index);
                        if (res.code === 0) {
                            autoSave();
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            }

            $("#task-main").on("mouseenter", ".node", function () {
                $(this).append('<i class="fa fa-times fa-lg close" aria-hidden="true"></i>');
            });
            $("#task-main").on("mouseleave", ".node", function () {
                $(this).children("i").remove();
            });
            $("#task-main").on("click", ".node > .close", function (event) {
                // console.log(this);
                let $thisTaskButton = $(this).parent();
                let tuid = $thisTaskButton.attr("id");
                let type = $thisTaskButton.attr("type");
                layer.open({
                    content: '确定要删除吗?',
                    yes: function (index, layero) {
                        console.log($thisTaskButton.get(0));

                        $.ajax({
                            url: ip + "/api/taskUnit",
                            type: "delete",
                            contentType: "application/json",
                            data: JSON.stringify({
                                "tid": tid,
                                "tuid": tuid,
                                "type": type
                            }),
                            dataType: "json",
                            success: function (res) {
                                // console.log(res);
                                layer.close(index);
                                if (res.code === 0) {
                                    let $taskDetail = $("#task-detail");
                                    if ($taskDetail.attr("onselect") === tuid) {
                                        $taskDetail.html("").append($("#noClickContent").html());
                                    }

                                    instance.removeAllEndpoints($thisTaskButton.attr("id"));
                                    $thisTaskButton.remove();
                                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                                    autoSave();
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 2000});
                                }
                            }
                        });
                    }
                });

                event.stopPropagation();
            });

            $("#task-main").on("click", ".node", function (event) {
                let $thisNode = $(this);

                $("#task-main .node").removeClass("click");
                $thisNode.addClass("click");

                let $taskDetail = $("#task-detail");
                let Type = $thisNode.attr("type");
                let type = Type.toLowerCase();
                let tuid = $thisNode.attr("id");
                $taskDetail.html($("#" + type + "Content").html()); // .attr("onselect", id)

                form.on("submit(save)", function (data) {
                    data.field["tuid"] = tuid;
                    data.field["tid"] = tid;
                    console.log(data);
                    $.ajax({
                        url: ip + "/api/taskUnit" + Type + "/" + tuid,
                        type: "post",
                        data: JSON.stringify(data.field),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            if (res.code === 0) {
                                autoSave();
                                layer.msg("保存成功", {icon: 1, time: 2000});
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                    return false;
                });

                let index = layer.load(2);
                new Promise(function (resolve, reject) {
                    $.ajax({
                        url: ip + "/api/taskUnit" + Type + "/" + tuid,
                        type: "get",
                        contentType: "application/json",
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            if (res.code === 0) {
                                let data = res.data;
                                resolve(data);
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                                reject();
                            }
                        }
                    });
                }).then(function (data) {
                    console.log(data);
                    switch (type) {
                        case "input":
                            // let pidToTopic = {};
                            $.ajax({
                                url: ip + "/api/product?page=1&limit=-1",
                                type: "get",
                                contentType: "application/json",
                                dataType: "json",
                                success: function (res) {
                                    // console.log(res);
                                    layer.close(index);
                                    if (res.code === 0) {
                                        let list = res.data.list;
                                        let $productSelect = $("#productSelect");
                                        list.forEach(function (product) {
                                            if (data.pid && product.pid === data.pid) {
                                                $productSelect.append("<option value=" + product.pid + " selected>" + product.name + "</option>");
                                                $("#productTopic").val(product.topic);
                                            } else {
                                                $productSelect.append("<option value=" + product.pid + ">" + product.name + "</option>");
                                            }

                                            // pidToTopic[product.pid] = product.topic;
                                        });
                                        form.render('select');
                                    } else {
                                        layer.msg(res.msg, {icon: 2, time: 2000});
                                    }
                                }
                            });

                            // form.on('select(productSelect)', function (data) {
                            //     console.log(data);
                            //     $("#productTopic").val(pidToTopic[data.value]);
                            // });
                            break;

                        case "handle":
                            function updateTypeSelect(type) {
                                $.ajax({
                                    url: ip + "/api/file/extensions/" + type,
                                    type: "get",
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function (res) {
                                        console.log(res);
                                        if (res.code === 0) {
                                            let list = res.data;
                                            let $fileSelect = $("#fileSelect");
                                            list.forEach(function (file) {
                                                if (data.fid && file.fid === data.fid) {
                                                    $fileSelect.append("<option value=" + file.fid + " selected>" + file.name + "</option>");
                                                } else {
                                                    $fileSelect.append("<option value=" + file.fid + ">" + file.name + "</option>");
                                                }
                                            });
                                            form.render('select');
                                        } else {
                                            layer.msg(res.msg, {icon: 2, time: 2000});
                                        }
                                    }
                                });
                            }

                            new Promise(function (resolve, reject) {
                                $.ajax({
                                    url: ip + "/api/commonJar/handle/types",
                                    type: "get",
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function (res) {
                                        console.log(res);
                                        if (res.code === 0) {
                                            let list = res.data;
                                            let $typeSelect = $("#typeSelect");
                                            list.forEach(function (commonJarType) {
                                                if (data.type && commonJarType === data.type) {
                                                    $typeSelect.append("<option value=" + commonJarType + " selected>" + commonJarType + "</option>");
                                                } else {
                                                    $typeSelect.append("<option value=" + commonJarType + ">" + commonJarType + "</option>");
                                                }
                                            });
                                            form.render('select');
                                            resolve();
                                        } else {
                                            layer.msg(res.msg, {icon: 2, time: 2000});
                                            reject();
                                        }
                                    }
                                });
                            }).then(function () {
                                if (data.type) {
                                    updateTypeSelect(data.type);
                                }
                            });

                            form.on('select(typeSelect)', function (data) {
                                console.log(data);
                                updateTypeSelect(data.value);
                            });
                            layer.close(index);
                            break;

                        case "output":
                            $.ajax({
                                url: ip + "/api/commonJar/output/types",
                                type: "get",
                                contentType: "application/json",
                                dataType: "json",
                                success: function (res) {
                                    console.log(res);
                                    if (res.code === 0) {
                                        let list = res.data;
                                        let $typeSelect = $("#typeSelect");
                                        list.forEach(function (commonJarType) {
                                            if (data.type && commonJarType === data.type) {
                                                $typeSelect.append("<option value=" + commonJarType + " selected>" + commonJarType + "</option>");
                                            } else {
                                                $typeSelect.append("<option value=" + commonJarType + ">" + commonJarType + "</option>");
                                            }
                                        });
                                        form.render('select');
                                    } else {
                                        layer.msg(res.msg, {icon: 2, time: 2000});
                                    }
                                }
                            });

                            form.val("outputForm", data);

                            layer.close(index);
                            break;
                    }
                });
            });

            $("#finish").click(function () {
                $.ajax({
                    url: ip + "/api/task/" + tid + "/finish",
                    type: "post",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            $("#task-main .node").removeClass("error");
                            layer.msg('保存成功', {icon: 1, time: 2000}, function () {
                                window.location.href = "/page/task";
                            });
                        } else if (res.code === 500302) {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                            let list = res.data;
                            $("#task-main .node").removeClass("error");

                            list.forEach(function (unit) {
                                $("#" + unit.tuid).addClass("error");
                            })
                        } else {
                            $("#task-main .node").removeClass("error");
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            });

            function autoSave(updateTime) {
                let time;
                if (updateTime) {
                    time = new Date(updateTime).format(commonDateFormat);
                } else {
                    time = new Date().format(commonDateFormat);
                }
                $("#saveTime").text("最后一次保存时间：" + time);
            }

            //基本连接线样式
            var connectorPaintStyle = {
                lineWidth: 4,
                strokeStyle: "#61B7CF",
                joinstyle: "round",
                outlineColor: "black",
                outlineWidth: 2
            };
            // 鼠标悬浮在连接线上的样式
            var connectorHoverStyle = {
                lineWidth: 4,
                strokeStyle: "#216477",
                outlineWidth: 2,
                outlineColor: "white"
            };
            var endpointHoverStyle = {
                fillStyle: "#216477",
                strokeStyle: "#216477"
            };
            //空心圆端点样式设置
            var hollowCircle = {
                endpoint: ["Dot", {
                    radius: 10
                }], //端点的形状
                // connectorStyle: connectorPaintStyle, //连接线的颜色，大小样式
                // connectorHoverStyle: connectorHoverStyle,
                // paintStyle: {
                //     strokeStyle: "#1e8151",
                //     fillStyle: "transparent",
                //     radius: 2,
                //     lineWidth: 2
                // }, //端点的颜色样式
                //anchor: "AutoDefault",
                // isSource: true, //是否可以拖动（作为连线起点）
                // connector: ["Flowchart", {
                //     stub: [40, 60],
                //     gap: 10,
                //     cornerRadius: 5,
                //     alwaysRespectStubs: true
                // }], //连接线的样式种类有[Bezier],[Flowchart],[StateMachine ],[Straight ]
                // isTarget: true, //是否可以放置（连线终点）
                // maxConnections: -1, // 设置连接点最多可以连接几条线
                connectorOverlays: [
                    ["Arrow", {
                        width: 10,
                        length: 10,
                        location: 0.5
                    }]
                ]
            };

        });

    });
</script>
</html>
