<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<div layout:fragment="otherHead">
    <link rel="stylesheet" th:href="@{/css/task.css}"/>
</div>

<title layout:fragment="title">创建任务</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('task', 'taskList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">任务</a>
        <a><cite>编辑</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <div class="layui-btn layui-btn-primary">开发完成</div>
                </div>
                <div class="tonghe-card-body">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md1 layui-col-lg1">
                            <div id="task-button">
                                <div class="node radius" id="input" type="input">输入</div>
                                <div class="node" id="handle" type="handle">处理</div>
                                <div class="node radius" id="output" type="output">输出</div>
                            </div>
                        </div>
                        <div class="layui-col-md8 layui-col-lg8">
                            <div id="task-main">

                            </div>
                        </div>
                        <div class="layui-col-md3 layui-col-lg3">
                            <div id="task-detail" onselect="">
                                <form class="layui-form layui-form-pane">
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">产品</label>
                                        <div class="layui-input-block">
                                            <select name="product" lay-verify="required">
                                                <option value=""></option>
                                                <option value="0">北京</option>
                                                <option value="1">上海</option>
                                                <option value="2">广州</option>
                                                <option value="3">深圳</option>
                                                <option value="4">杭州</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">设备</label>
                                        <div class="layui-input-block">
                                            <select name="device" lay-verify="required">
                                                <option value=""></option>
                                                <option value="0">北京</option>
                                                <option value="1">上海</option>
                                                <option value="2">广州</option>
                                                <option value="3">深圳</option>
                                                <option value="4">杭州</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <button class="layui-btn" lay-submit="" lay-filter="">保存</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <template id="no-click-content">
        <div class="center">
            请点击任务单元
        </div>
    </template>
    <template id="input-content">

    </template>
</div>

<div layout:fragment="otherScriptPre">
    <script th:src="@{/plugins/jquery-ui.min.js}"></script>
    <script th:src="@{/plugins/jsplumb.min.js}"></script>
</div>
<div layout:fragment="otherScriptAfter">

</div>
<script layout:fragment="script">
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        var tid = /\/page\/task\/(\d+)\/edit/g.exec(window.location.pathname)[1];

        jsPlumb.ready(function () {
            var instance = jsPlumb.getInstance({
                // Connector: ["Flowchart", {curviness: 50}],//连线类型，有直线，折线等，我这只用直线
                // DragOptions: {cursor: "pointer", zIndex: 2000},//拖动的时候
                // PaintStyle: {strokeStyle: '#E8C870', lineWidth: 2},
                // EndpointStyle: {radius: 5, fillStyle: color},
                // HoverPaintStyle: {strokeStyle: "#7073EB"},
                // EndpointHoverStyle: {fillStyle: "#7073EB"},
                // ConnectionOverlays: [
                //     ["Label", {label: "关联", cssClass: "csslabel"}]//这个是鼠标拉出来的线的属性
                // ],
                Container: "task-main"//容器位置
            });

            init();

            /**
             * 获取 taskUnit
             */
            function init() {
                let index = layer.load(2);
                new Promise(function (resolve, reject) {
                    $.ajax({
                        url: ip + "/api/taskUnit",
                        type: "get",
                        contentType: "application/json",
                        data: "tid=" + tid,
                        dataType: "json",
                        success: function (res) {
                            console.log(res);
                            if (res.code === 0) {
                                let list = res.data;

                                for (let i = 0; i < list.length; i++) {
                                    let taskUnit = list[i];
                                    addTaskUnitDiv(taskUnit.type, taskUnit.tuid, taskUnit.leftDis, taskUnit.topDis);
                                }

                                resolve();
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                                reject();
                            }
                        }
                    })
                }).then(function () {   // 获取连接
                    return new Promise(function (resolve, reject) {
                        $.ajax({
                            url: ip + "/api/taskUnitConnect",
                            type: "get",
                            contentType: "application/json",
                            data: "tid=" + tid,
                            dataType: "json",
                            success: function (res) {
                                console.log(res);
                                layer.close(index);
                                if (res.code === 0) {
                                    let list = res.data;

                                    for (let i = 0; i < list.length; i++) {
                                        let connect = list[i];
                                        instance.connect({
                                            uuids: [connect.sourceTuid + '-from', connect.targetTuid + '-to']
                                        })
                                    }

                                    resolve();
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 2000});
                                }
                            }
                        });
                    })
                }).then(function () {
                    return new Promise(function (resolve, reject) {




                        resolve();
                    })
                })
            }

            /**
             * 连成 连接
             */
            instance.bind("connection", jsPlumbConnect);

            /**
             * 删除连接
             */
            instance.bind("connectionDetached", function (info) {
                console.log("connectionDetached");
                console.log(info);

                $.ajax({
                    url: ip + "/api/taskUnitConnect",
                    type: "delete",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "sourceTuid": info.sourceId,
                        "targetTuid": info.targetId,
                        "tid": tid
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {

                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            });

            /**
             * 已存在的连接改变时（会触发 connect 事件）
             */
            instance.bind("connectionMoved", function (info, originalEvent) {
                // instance.unbind("connection");

                console.log("connectionMoved");
                console.log(info);

                if (info.newSourceId === info.originalSourceId && info.newTargetId === info.originalTargetId) {
                    return;
                }

                $.ajax({
                    url: ip + "/api/taskUnitConnect",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "sourceTuid": info.newSourceId,
                        "targetTuid": info.newTargetId,
                        "oldSourceTuid": info.originalSourceId,
                        "oldTargetTuid": info.originalTargetId,
                        "tid": tid
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {

                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });

                // instance.bind("connection", jsPlumbConnect);
            });

            function jsPlumbConnect(info, originalEvent) {
                // 编程方式连接不请求，要鼠标方式连接才请求
                if (originalEvent !== undefined) {
                    console.log("connect!!!!!");
                    console.log(info);

                    let index = layer.load(2);
                    $.ajax({
                        url: ip + "/api/taskUnitConnect",
                        type: "put",
                        contentType: "application/json",
                        data: JSON.stringify({
                            "sourceTuid": info.sourceId,
                            "targetTuid": info.targetId,
                            "tid": tid
                        }),
                        dataType: "json",
                        success: function (res) {
                            console.log(res);
                            layer.close(index);
                            if (res.code === 0) {

                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            }

            // ----------------- 拖拽部分 -----------------
            $("#task-button").children().draggable({
                // 表示复制
                helper: "clone",
                // droppable 方法里面也设置这个标识来判断拖放到的地方
                scope: "main"
            });

            $("#task-main").droppable({
                scope: "main",
                drop: function (event, ui) {
                    console.log(ui);
                    // console.log(this);
                    let left = parseInt(ui.offset.left - $(this).offset().left);
                    let top = parseInt(ui.offset.top - $(this).offset().top);
                    let type = ui.draggable[0].id;
                    let resData = addTaskUnit(type, left, top);
                    let id = resData.tuid;
                    addTaskUnitDiv(type, id, left, top);
                }
            });

            function addTaskUnitDiv(type, id, left, top) {
                let $taskMain = $("#task-main");
                $taskMain.append($("#" + type).clone().attr("id", id));
                let $id = $("#" + id);

                $id.css("left", left).css("top", top);
                instance.draggable(id, {
                    containment: true
                });
                $id.draggable({
                    containment: "#task-main",
                    stop: function (event, ui) {
                        console.log(ui);
                        updateTaskUnit($(ui.helper).attr("id"), ui.position);
                    }
                });
                switch (type) {
                    case "input":
                        instance.addEndpoint(id, {
                            anchors: "BottomCenter",
                            isSource: true,
                            maxConnections: -1,
                            uuid: id + '-from'
                        }, hollowCircle);

                        break;
                    case "handle":
                        instance.addEndpoint(id, {
                            anchors: "TopCenter",
                            isTarget: true,
                            uuid: id + '-to'
                        }, hollowCircle);
                        instance.addEndpoint(id, {
                            anchors: "BottomCenter",
                            isSource: true,
                            maxConnections: -1,
                            uuid: id + '-from'
                        }, hollowCircle);

                        break;
                    case "output":
                        instance.addEndpoint(id, {
                            anchors: "TopCenter",
                            isTarget: true,
                            uuid: id + '-to'
                        }, hollowCircle);

                        break;
                }
            }

            /**
             * 此方法中的ajax需要为同步
             * @param type
             * @param left
             * @param top
             * @returns {string}
             */
            function addTaskUnit(type, left, top) {
                let index = layer.load(2);

                let resData = "";
                $.ajax({
                    url: ip + "/api/taskUnit",
                    type: "put",
                    contentType: "application/json",
                    data: JSON.stringify({
                        "type": type,
                        "left": left,
                        "top": top,
                        "tid": tid
                    }),
                    dataType: "json",
                    async: false,
                    success: function (res) {
                        // console.log(res);
                        layer.close(index);
                        if (res.code === 0) {
                            resData = res.data;
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });

                return resData;
            }

            function updateTaskUnit(tuid, position) {
                let index = layer.load(2);

                position['tuid'] = tuid;
                $.ajax({
                    url: ip + "/api/taskUnit",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify(position),
                    dataType: "json",
                    success: function (res) {
                        // console.log(res);
                        layer.close(index);
                        if (res.code === 0) {

                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            }

            $("#task-main").on("mouseenter", ".node", function () {
                $(this).append('<i class="fa fa-times fa-lg close" aria-hidden="true"></i>');
            });
            $("#task-main").on("mouseleave", ".node", function () {
                $(this).children("i").remove();
            });
            $("#task-main").on("click", ".node > .close", function (event) {
                // console.log(this);
                let $thisTaskButton = $(this).parent();
                let tuid = $thisTaskButton.attr("id");
                layer.open({
                    content: '确定要删除吗?',
                    yes: function (index, layero) {
                        console.log($thisTaskButton.get(0));

                        $.ajax({
                            url: ip + "/api/taskUnit",
                            type: "delete",
                            contentType: "application/json",
                            data: JSON.stringify({
                                "tid": tid,
                                "tuid": tuid
                            }),
                            dataType: "json",
                            success: function (res) {
                                // console.log(res);
                                layer.close(index);
                                if (res.code === 0) {
                                    let $taskDetail = $("#task-detail");
                                    if ($taskDetail.attr("onselect") === tuid) {
                                        $taskDetail.html("").append($("#no-click-content").html());
                                    }

                                    instance.removeAllEndpoints($thisTaskButton.attr("id"));
                                    $thisTaskButton.remove();
                                    layer.close(index); //如果设定了yes回调，需进行手工关闭
                                } else {
                                    layer.msg(res.msg, {icon: 2, time: 2000});
                                }
                            }
                        });
                    }
                });

                event.stopPropagation();
            });

            $("#task-main").on("click", ".node", function (event) {
                let $thisNode = $(this);

                $("#task-main .node").removeClass("click");
                $thisNode.addClass("click");

                let $taskDetail = $("#task-detail");
                $taskDetail.html("").append("123").attr("onselect", $thisNode.attr("id"));

            });

            // instance.bind("click", function (conn, originalEvent) {
            //     console.log(conn);
            //     if (confirm("Are you sure?")) {
            //         instance.detach(conn);
            //     }
            // });

            //基本连接线样式
            var connectorPaintStyle = {
                lineWidth: 4,
                strokeStyle: "#61B7CF",
                joinstyle: "round",
                outlineColor: "black",
                outlineWidth: 2
            };
            // 鼠标悬浮在连接线上的样式
            var connectorHoverStyle = {
                lineWidth: 4,
                strokeStyle: "#216477",
                outlineWidth: 2,
                outlineColor: "white"
            };
            var endpointHoverStyle = {
                fillStyle: "#216477",
                strokeStyle: "#216477"
            };
            //空心圆端点样式设置
            var hollowCircle = {
                endpoint: ["Dot", {
                    radius: 10
                }], //端点的形状
                // connectorStyle: connectorPaintStyle, //连接线的颜色，大小样式
                // connectorHoverStyle: connectorHoverStyle,
                // paintStyle: {
                //     strokeStyle: "#1e8151",
                //     fillStyle: "transparent",
                //     radius: 2,
                //     lineWidth: 2
                // }, //端点的颜色样式
                //anchor: "AutoDefault",
                // isSource: true, //是否可以拖动（作为连线起点）
                // connector: ["Flowchart", {
                //     stub: [40, 60],
                //     gap: 10,
                //     cornerRadius: 5,
                //     alwaysRespectStubs: true
                // }], //连接线的样式种类有[Bezier],[Flowchart],[StateMachine ],[Straight ]
                // isTarget: true, //是否可以放置（连线终点）
                // maxConnections: -1, // 设置连接点最多可以连接几条线
                connectorOverlays: [
                    ["Arrow", {
                        width: 10,
                        length: 10,
                        location: 0.5
                    }]
                ]
            };
            //实心圆样式
            var solidCircle = {
                endpoint: ["Dot", {
                    radius: 8
                }], //端点的形状
                paintStyle: {
                    fillStyle: "rgb(122, 176, 44)"
                }, //端点的颜色样式
                connectorStyle: {
                    strokeStyle: "rgb(97, 183, 207)",
                    lineWidth: 4
                }, //连接线的颜色，大小样式
                isSource: true, //是否可以拖动（作为连线起点）
                connector: ["Flowchart", {
                    stub: [40, 60],
                    gap: 10,
                    cornerRadius: 5,
                    alwaysRespectStubs: true
                }], //连接线的样式种类有[Bezier],[Flowchart],[StateMachine ],[Straight ]
                isTarget: true, //是否可以放置（连线终点）
                //anchor: "AutoDefault",
                maxConnections: 3, // 设置连接点最多可以连接几条线
                connectorOverlays: [
                    ["Arrow", {
                        width: 10,
                        length: 10,
                        location: 1
                    }]
                ]
            };
        });

    });
</script>
</html>
