<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">任务列表</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('task', 'list')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">任务</a>
        <a><cite>列表</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <div class="layui-btn" id="taskAdd">新建任务</div>
                    <div class="layui-btn layui-btn-danger" id="taskDel">删除任务</div>
                </div>
                <div class="tonghe-card-body">
                    <table id="tasksTable"></table>
                </div>
            </div>
        </div>
    </div>
    <template id="toolbar">
        <a th:href="@{/page/task/{{ d.tid }}}" class="layui-btn layui-btn-primary layui-btn-xs">查看</a>
        <a th:href="@{/page/task/{{ d.tid }}/edit}" class="layui-btn layui-btn-xs">编辑</a>
    </template>
</div>

<script layout:fragment="script">
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        table.render({
            elem: "#tasksTable",
            even: true,
            toolbar: true,
            defaultToolbar: ['filter'],
            limit: 10, //每页默认显示的数量
            page: true,
            url: ip + "/api/task",
            parseData: function(res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            },
            cols: [
                [
                    {type:'checkbox'},
                    {field: 'name', title: "名称"},
                    {field: 'status', title: "状态"},
                    {field: 'createTime', title: "创建时间", templet: function (d) {
                            return new Date(d.createTime).format("yyyy-MM-dd hh:mm");
                        }},
                    {field: 'updateTime', title: "最后一次更新时间", templet: function (d) {
                            return new Date(d.updateTime).format("yyyy-MM-dd hh:mm");
                        }},
                    {fixed: 'right', align:'center', toolbar: '#toolbar'}
                ]
            ]
        });

        $("#taskAdd").click(function () {
            layer.prompt({
                title: '输入任务名称'
            }, function(value, index, elem){
                $.ajax({
                    url: ip + "/api/task",
                    type: "post",
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: value
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            layer.msg('添加成功！', {icon: 1, time: 2000}, function () {
                                layer.close(index);
                                table.reload('tasksTable', {
                                    page: {
                                        curr: 1
                                    }
                                })
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });

            });
        });


    });
</script>
</html>
