<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">任务列表</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('task', 'taskList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">任务</a>
        <a><cite>列表</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <form class="layui-form  layui-form-pane" lay-filter="detailForm">
                        <div class="layui-form-item" style="margin-bottom: 0px">
                            <div class="layui-inline">
                                <input type="text" name="name" placeholder="名称" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <select name="status" lay-filter="taskState">
                                    <option value="">任务状态</option>
                                    <option value="CODING">开发中</option>
                                    <option value="UNUSE">开发完成</option>
                                    <option value="STARTING">启动中</option>
                                    <option value="RUNNING">运行中</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <div id="searchBtn" class="layui-btn layui-btn-primary" lay-submit lay-filter="searchBtn">搜索</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tonghe-card-body">
                    <table id="tasksTable"></table>
                </div>
            </div>
        </div>
    </div>
    <template id="topToolbar">
        <div class="layui-btn" id="taskAdd">新建任务</div>
        <div class="layui-btn layui-btn-danger" id="taskDel">删除任务</div>
    </template>
    <template id="toolbar">
        {{#  if (d.status === '开发完成') { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs" id="start" tid="{{ d.tid }}">
            <i class="fa fa-play" aria-hidden="true"></i>
        </button>
        {{#  } else if (d.status === '运行中' || d.status === '停止中') { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs" id="stop" tid="{{ d.tid }}">
            <i class="fa fa-stop" aria-hidden="true"></i>
        </button>
        {{#  } else if (d.status === '启动中') { }}
        <button class="layui-btn layui-btn-primary layui-btn-xs" id="starting" tid="{{ d.tid }}">
            <i class="layui-icon layui-icon-loading" aria-hidden="true"></i>
        </button>
        {{#  } }}

        {{# if (d.status === '开发完成' || d.status === '开发中') { }}
        <a th:href="@{/page/task/{{ d.tid }}/edit}" class="layui-btn layui-btn-primary layui-btn-xs">编辑</a>
        {{#  } else if (d.status === '运行中') { }}
        <!--<a th:href="@{/page/task/{{ d.tid }}}" class="layui-btn layui-btn-xs">查看</a>-->
        {{#  } }}
    </template>
</div>

<script layout:fragment="script">
    layui.use(['element', 'table', 'layer', 'form'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;

        table.render({
            elem: "#tasksTable",
            even: true,
            toolbar: '#topToolbar',
            defaultToolbar: ['filter'],
            limit: 10, //每页默认显示的数量
            page: true,
            url: ip + "/api/task",
            parseData: function(res) { //res 即为原始返回的数据
                let list = res.data.list;
                for (let i = 0; i < list.length; i++) {
                    // 遍历获取的数据，如果已经选择，则在table上选中
                    if (list[i].status === "启动中") {
                        getTaskStatus();
                        break;
                    }
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            },
            cols: [
                [
                    {type:'checkbox'},
                    {field: 'name', title: "名称"},
                    {field: 'status', title: "状态"},
                    {field: 'createTime', title: "创建时间", templet: function (d) {
                            return new Date(d.createTime).format(commonDateFormat);
                        }},
                    {field: 'updateTime', title: "最后一次更新时间", templet: function (d) {
                            return new Date(d.updateTime).format(commonDateFormat);
                        }},
                    {fixed: 'right', align:'center', toolbar: '#toolbar'}
                ]
            ]
        });

        $(document).on("click", "#taskAdd", function () {
            layer.prompt({
                title: '输入任务名称'
            }, function(value, index, elem){
                $.ajax({
                    url: ip + "/api/task",
                    type: "put",
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: value
                    }),
                    dataType: "json",
                    success: function (res) {
                        console.log(res);
                        if (res.code === 0) {
                            layer.msg('添加成功！', {icon: 1, time: 2000}, function () {
                                layer.close(index);
                                table.reload('tasksTable', {});
                            });
                        } else {
                            layer.msg(res.msg, {icon: 2, time: 2000});
                        }
                    }
                });
            });
        });

        $(document).on("click", "#taskDel", function () {
            let checkStatus = table.checkStatus('tasksTable');

            if (checkStatus.data.length === 0) {
                layer.msg('请勾选', {icon: 2, time: 2000});
                return;
            }

            console.log(checkStatus);
            let list = [];
            checkStatus.data.forEach(function (currentValue, index, arr) {
                list.push(currentValue.tid);
            });
            layer.open({
                content: '确定要删除吗?',
                yes: function (index, layero) {
                    $.ajax({
                        url: ip + "/api/task",
                        type: "delete",
                        contentType: "application/json",
                        data: JSON.stringify(list),
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            layer.close(index);
                            if (res.code === 0) {

                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                table.reload('tasksTable', {});
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            });
        });

        $(document).on("click", "#start", function () {
            console.log("start.");
            let index1 = layer.load(2);
            let tid = $(this).attr("tid");
            $.ajax({
                url: ip + "/api/task/" + tid + "/start",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.close(index1);
                    if (res.code === 0) {
                        layer.msg('开始执行任务', {icon: 1, time: 2000});
                        table.reload('tasksTable', {});
                        getTaskStatus();
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 2000});
                    }
                }
            });
        });

        $(document).on("click", "#stop", function () {
            console.log("stop.");
            let index1 = layer.load(2);
            let tid = $(this).attr("tid");
            $.ajax({
                url: ip + "/api/task/" + tid + "/stop",
                type: "patch",
                contentType: "application/json",
                dataType: "json",
                success: function (res) {
                    console.log(res);
                    layer.close(index1);
                    if (res.code === 0) {
                        layer.msg('停止任务', {icon: 1, time: 2000});
                        table.reload('tasksTable', {});
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 2000});
                    }
                }
            });
        });

        function getTaskStatus() {
            setTimeout(function () {
                table.reload('tasksTable', {});
            }, 2000);
        }

        form.on('submit(searchBtn)', function(data){
            console.log(data.field);

            let formJson = data.field;
            for (let key in formJson) {
                if (!formJson[key]) {
                    delete formJson[key];
                }
            }

            //执行重载
            table.reload('tasksTable', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: data.field
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });
</script>
</html>
