<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="layui-side layui-bg-black" th:fragment="onselectLayout (parent, child)">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item" th:classappend="(${parent} == 'device') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">设备</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'deviceList') ? 'layui-this' : ''">
                        <a th:href="@{/page/device/list}">列表</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="(${parent} == 'product') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">产品</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'productList') ? 'layui-this' : ''">
                        <a th:href="@{/page/product/list}">列表</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="(${parent} == 'file') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">文件</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'fileList') ? 'layui-this' : ''">
                        <a th:href="@{/page/file/list}">列表</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item" th:classappend="(${parent} == 'task') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">任务</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'taskList') ? 'layui-this' : ''">
                        <a th:href="@{/page/task/list}">列表</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
