<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="layui-side layui-bg-black" th:fragment="onselectLayout (parent, child)">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item" th:classappend="(${parent} == 'customerManagement') ? 'layui-nav-itemed' : ''">
                <a class="" href="javascript:;">客户管理</a>
                <dl class="layui-nav-child">
                    <dd th:class="(${child} == 'customerList') ? 'layui-this' : ''">
                        <a th:href="@{/admin/customerList-view}">客户列表</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
