<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base/layout">

<title layout:fragment="title">上传文件列表</title>
<div layout:fragment="side" th:replace="base/side::onselectLayout ('file', 'fileList')"></div>
<div layout:fragment="content-header" class="layui-card tonghe-header">
    <span class="layui-breadcrumb">
        <a href="javascript:;" class="layui-breadcrumb-unclick">文件</a>
        <a><cite>列表</cite></a>
    </span>
</div>
<div layout:fragment="content">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-lg12">
            <div class="tonghe-card">
                <div class="tonghe-card-header">
                    <div class="layui-btn" id="fileAdd">上传文件</div>
                    <div class="layui-btn layui-btn-danger" id="fileDel">删除文件</div>
                </div>
                <div class="tonghe-card-body">
                    <table id="filesTable"></table>
                </div>
            </div>
        </div>
    </div>
    <template id="toolbar">
        <a th:href="@{/api/file/{{ d.fid }}}" target="_blank" class="layui-btn layui-btn-primary layui-btn-xs">下载</a>
    </template>
    <template id="fileAddLayer">
        <form id="fileAddForm" class="layui-form  layui-form-pane" enctype="multipart/form-data" method="post" style="text-align: center;">
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <input type="text" id="fileName" name="name" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="chooseFile" class="layui-btn">选择文件</label>
                <input type="file" id="chooseFile" name="file" accept=".jar, .lua" style="position: absolute; clip: rect(0 0 0 0);"/>
            </div>
        </form>
    </template>
    <template id="jarDetailTemplate">
        <div class="layui-form-item">
            <label class="layui-form-label">入口类</label>
            <div class="layui-input-block">
                <input type="text" id="mainClass" name="mainClass" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">实现类</label>
            <div class="layui-input-block">
                <input type="text" id="implementClass" name="mainClass" class="layui-input">
            </div>
        </div>
    </template>
</div>

<script layout:fragment="script">
    layui.use(['element', 'table', 'layer'], function () {
        var element = layui.element;
        var table = layui.table;
        var layer = layui.layer;

        table.render({
            elem: "#filesTable",
            even: true,
            toolbar: true,
            defaultToolbar: ['filter'],
            limit: 10, //每页默认显示的数量
            page: true,
            url: ip + "/api/file",
            parseData: function(res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.list //解析数据列表
                }
            },
            cols: [
                [
                    {type:'checkbox'},
                    {field: 'name', title: "名称"},
                    {field: 'extensions', title: "扩展名"},
                    {field: 'uploadTime', title: "上传时间", templet: function (d) {
                            return new Date(d.uploadTime).format(commonDateFormat);
                        }},
                    {fixed: 'right', align:'center', toolbar: '#toolbar'}
                ]
            ]
        });

        $("#fileAdd").click(function () {
            layer.open({
                title: "上传文件",
                content: $("#fileAddLayer").html(),
                type: 0,
                area: '1000px',
                offset: '100px',
                yes: function (index, layero) {
                    let index1 = layer.load(2);
                    $.ajax({
                        url: ip + "/api/file",
                        type: "put",
                        data: new FormData($("#fileAddForm").get(0)),
                        processData: false,
                        cache: false,
                        contentType: false,
                        dataType: "json",
                        success: function (res) {
                            layer.close(index1);
                            console.log(res);
                            if (res.code === 0) {
                                layer.msg('上传成功！', {icon: 1, time: 2000}, function () {
                                    layer.close(index);
                                    table.reload('filesTable', {});
                                });
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                },
                success: function (index, layero) {

                }
            });
        });

        $("#fileDel").click(function () {
            let checkStatus = table.checkStatus('filesTable');

            if (checkStatus.data.length === 0) {
                layer.msg('请勾选', {icon: 2, time: 2000});
                return;
            }

            console.log(checkStatus);
            let list = [];
            checkStatus.data.forEach(function (currentValue, index, arr) {
                list.push(currentValue.fid);
            });
            layer.open({
                content: '确定要删除吗?',
                yes: function (index, layero) {
                    $.ajax({
                        url: ip + "/api/file",
                        type: "delete",
                        contentType: "application/json",
                        data: JSON.stringify(list),
                        dataType: "json",
                        success: function (res) {
                            // console.log(res);
                            layer.close(index);
                            if (res.code === 0) {
                                table.reload('filesTable', {});
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 2000});
                            }
                        }
                    });
                }
            });
        });

        $(document).on("change", "#chooseFile", function (data) {
            let $fileDom = $("#chooseFile");
            let fileDom = $fileDom.get(0);

            if (fileDom.files && fileDom.files[0]) {
                let pointIndex = fileDom.files[0].name.lastIndexOf(".");
                let name = fileDom.files[0].name.slice(0, pointIndex);
                let extensions = fileDom.files[0].name.slice(pointIndex + 1);

                if (extensions === "jar") {
                    console.log($("#fileAddForm"));
                    $($("#fileAddForm").children()[0]).after($("#jarDetailTemplate").html());
                }

                $("#fileName").val(name);
            }
        });
    });
</script>
</html>
