<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqlist.web.mapper.DeviceMapper">
    <resultMap id="BaseResultMap" type="com.sqlist.web.domain.Device">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="did" property="did" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="active_time" property="activeTime" jdbcType="TIMESTAMP"/>
        <result column="last_time" property="lastTime" jdbcType="TIMESTAMP"/>
        <result column="pid" property="pid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        did, name, status, create_time, active_time, last_time, pid
    </sql>

    <update id="updatePidMultipleByDid">
        UPDATE device
        SET pid = #{device.pid}
        WHERE uid = #{device.uid}
        AND did IN
        <foreach item="item" collection="didList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </update>

    <update id="updatePidMultipleByPid">
        UPDATE device
        SET pid = 0
        WHERE uid = #{device.uid}
        AND pid IN
        <foreach item="item" collection="pidList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </update>

    <delete id="deleteMultiple">
        DELETE FROM device
        WHERE uid = #{user.uid}
        AND did IN
        <foreach item="item" collection="didList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>
</mapper>