<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqlist.web.mapper.TaskUnitMapper">
    <resultMap id="BaseResultMap" type="com.sqlist.web.domain.TaskUnit">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="tuid" property="tuid" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="left_dis" property="leftDis" jdbcType="INTEGER"/>
        <result column="top_dis" property="topDis" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="job_id" property="jobId" jdbcType="VARCHAR"/>
        <result column="tid" property="tid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        tuid, type, left_dis, top_dis, status, create_time, job_id, tid
    </sql>

    <delete id="deleteMultiple" parameterType="list">
        DELETE FROM task_unit_${type}
        WHERE tid IN
        <foreach item="item" collection="tidList" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </delete>

    <insert id="insert">
        INSERT INTO `graduation`.`task_unit_${type}`(`tuid`, `left_dis`, `top_dis`, `create_time`, `tid`)
        VALUES (#{taskUnit.tuid}, #{taskUnit.leftDis}, #{taskUnit.topDis}, #{taskUnit.createTime}, #{taskUnit.tid});
    </insert>

    <update id="updateDis">
        UPDATE task_unit_${type}
        SET left_dis = #{taskUnit.leftDis}
        AND top_dis = #{taskUnit.topDis}
        WHERE tid = #{taskUnit.tid}
    </update>

    <delete id="delete">
        DELETE FROM task_unit_${type}
        WHERE tuid = #{taskUnit.tuid}
        AND tid = #{taskUnit.tid}
    </delete>
</mapper>